@import "tailwindcss";
@config "./tailwind.config.cjs";

@layer base {
  body {
    @apply font-sans antialiased;
  }
}

@layer components {
  .card {
    @apply bg-slate-700 rounded p-4;
  }

  .btn-primary {
    @apply px-4 py-2 bg-emerald-400 text-slate-900 rounded font-semibold hover:bg-emerald-300 transition;
  }
}